{% extends "wrapper.html" %}

{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="container">
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form method="post" class="card card-sm">
                        {% csrf_token %}
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input name="website" class="form-control form-control-lg form-control-borderless" type="search" value="{{ website }}" placeholder="Input a website as http://...">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <br/><br/>
                {% if error_message %}
                <div class="col-12 col-md-10 col-lg-8">
                        <p>URL is invalid</p>
                </div>
                {% endif %}
                {% if tag_statistic %}
                    {% include "statistic.html" %}
                {% endif %}



                <!--end of col-->
    </div>
        </div>
    </main>

{% endblock %}








