{% extends "wrapper.html" %}

{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="container">
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Tag</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                </tr>
              </tbody>
            </table>
      </div>
    </main>

{% endblock %}








