
{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <div class="container">
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <h2>Statistic for {{ website }}</h2>
          <table id="tag_stat" class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Tag</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                {% for tag, number in tag_statistic.items %}
                    <tr>
                      <th scope="row">{{ tag }}</th>
                      <td>{{ number }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </main>
{% endblock %}








